body{
    
  background-color:rgb(58, 177, 185);
   
    color:aliceblue;
    margin: 50px;
}

h3{ font-family: monospace;
    font-size: larger;
    color: rgb(136, 17, 248); ;
    position:relative;
    left: 75px;
} 

.skill {
  margin-bottom: 15px;
}

.progress-bar {
  width: 20%;
  height: 9px;
  background-color: #e0e0e0;
  border-radius: 10px;
}

.progress {
  height: 100%;
  background-color:#f353f8;
  border-radius: 10px;
}
